body {
  background: url("images/guitar_blue.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 15rem auto;
}

button {
  background-color: #219ebc;
  height: 4rem;
  width: 12rem;
  border-radius: 0.5rem;
  border: solid #000 0.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
}

.btn-active {
  background-color: #023047;
  border: 0.1rem solid #fff;
}

@media (max-width: 620px) {
  #btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  button {
    width: 10rem;
  }
}

@media (max-width: 360px) {
  #btn-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
