body {
    background: url('images/guitar_blue.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

#btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 15rem auto;
}

/* collors: #219ebc #2a9d8f */

button {
    background-color: #219ebc;
    height: 3.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: solid black 0.1rem;
}